@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* { font-family: 'Space Mono', monospace; }

body, h1 { margin: 0; }

h1 {
    color: white;
    font-size: 32px;
    margin-bottom: 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #252C3E;
}

header {
    text-align: center;
    padding: 10px 0 30px;
}

.btn {
    width: 158px;
    font-size: 14px;
    padding: 8px 10px;
    border: none;
    color: white;
    background: #2DAAB0;
    cursor: pointer;
}

.btn:focus {
    outline-width: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border: 12px solid #2DAAB0;
    background-color: #2DAAB0;
}

.module { 
    border-style: solid;
    border-color: #252C3E;
    background-color: white;
}

